
<!DOCTYPE html>
<html>
    <title>Target Dashboards</title>

  <body>
    <h1>Dashboards</h1>

<ul>
  <li>
    <a href="/forex">
      Foreign exchange rates
    </a>
  </li>

</ul>

  </body>
</html>